<!DOCTYPE html>
<html>
<head>
  <th:block th:include="../templates/main-layout::headerfiles"></th:block>
</head>
<body>
<div th:replace="../templates/main-layout::header"></div>

<div role="main" class="container">
  <h3>Spring Boot - <span th:text="${title}"></span></h3>
  <div class="alert"  th:classappend="${title=='Admin'}?'alert-warning':'alert-default'">

<!--     <span class="name" style="display:inline-block;" th:text="${#strings.toLowerCase(title)}"></span>-->


<!--     <div th:if="${title!=null}">-->
<!--          <th:block th:include="../templates/fragments::${#strings.toLowerCase(title)}"/>-->
<!--     </div>-->


      <div th:replace="../templates/main-layout::main-container"></div>

  </div>
</div>
<div th:replace="../templates/main-layout::footer"></div>

<th:block th:include="../templates/main-layout::scriptfiles"></th:block>

</body>
</html>